@import '../../styles/variables';

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &--96 {
    gap: 96px;
  }

  &--120 {
    gap: 120px;
  }
}

@media (min-width: 689px) {
  .grid {
    &--0 {
      gap: 120px;
    }
  }
}

@media (min-width: $media-m) {
  .grid {
    &--96 {
      gap: 120px;
    }
  }
}

@media (min-width: $media-l) {
  .grid {
    gap: 160px;
  }
}
