@import '../../styles/variables';

.hero {
  position: relative;
  margin: 0 auto;
  padding: 72px 24px;
  max-width: $max-width-s;
  width: 100%;
  background-color: #e7816b;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 2;
  }

  > picture > img {
    position: absolute;
    width: 876px;
    top: 0;
    left: -92px;
  }
}

@media (min-width: $media-m) {
  .hero {
    padding: 71px 58px;
    max-width: $max-width;

    > picture > img {
      width: 640px;
      top: -83px;
      left: -121px;
    }
  }
}

@media (min-width: 950px) {
  .hero {
    padding: 55px 96px 54px 95px;

    > picture > img {
      top: unset;
      left: 0;
      bottom: 0;
    }
  }
}
